<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bowlers</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Crimson+Pro&display=swap" rel="stylesheet">
    <link href="~/lib/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="text-white p-2" style="background-color: rgb(155,168,137)">
        <div class="container-fluid">
            <div class="row">
                <span class="col navbar-brand ml-2" style="font-family:Chivo">Little Corner Bookstore</span>
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="team" class="col-3" style="font-family:Chivo">
            <vc:team></vc:team>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>